/* Main Containers */
html, body, .site-wrapper {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.site-wrapper {
    position: relative;
    display: block;
    overflow: auto;
    background-color: rgb(230, 230, 230);
    color: white;
    font-family: 'Raleway', Arial, sans-serif;
    min-height: 100%;
}

/* Font-Sizing */
h1 {
    font-size: 4em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2.5em;
}

h4 {
    font-size: 2em;
}

h5 {
    font-size: 1.5em;
}

p, ol {
    font-size: 1em;
}

input, button {
    font-size: 1.5em;
}

/* Header / Input Block */
#input-block {
    position: relative;
    text-align: center;
    background: linear-gradient(50deg, rgb(21, 39, 100), rgb(88, 14, 14));
    padding: 20px 20px 10px 20px;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.61);
    transition: .5s;
    z-index: 100;
}

.input-flex-container {
    display: flex;
    width: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Username Input Row*/
.input-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding: 20px;
}

.input-row input {
    outline: none;
    border: none;
    width: 200px;
    height: 40px;
    border-radius: 4px;
    padding: 5px 20px 5px 20px;
    color: rgb(92, 92, 92);
    text-align: center;
    transition: .3s;
    background-color: white;
}

.input-row input:focus {
    background-color: rgb(238, 236, 209);
}

.input-row input::placeholder {
    font-size: 0.6em;
    font-style: italic;
    color: rgb(184, 184, 184);
}

/* Submit Button and Loading Reminder */
.submit-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 10px 0px;
    min-height: 50px;
}

#submit {
    position: relative;
    border: none;
    outline: none;
    width: 180px;
    height: 50px;
    color: white;
    background-color: rgb(202, 60, 41);
    font-family: 'Raleway', Arial, sans-serif;
    cursor: pointer;
    border-radius: 25px;
    transition: .2s;
} 

#submit:hover {
    background-color: rgb(153, 34, 19);
}

#submit:active {
    width: 174px;
    height: 48px;
    background-color: rgb(99, 24, 14);
    font-size: 1.4em;
}

#submit.loading {
    pointer-events: none;
}

#loading-icon {
    position: absolute;
    height: 32px;
    width: 32px;
    top: 50%;
    left: 50%;
    animation: loading-spin 1s infinite;
}

.loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding: 8px 0px 8px 0px;
    min-height: 1em;
}

#loading-reminder {
    font-size: 0.85em;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1em;
    animation: fade-in 0.4s ease;
}

/* Output Section */
#message-block {
    position: relative;
    z-index: 99;
    font-family: 'Roboto', sans-serif;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 1s;
}

#main-output {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(31, 150, 56);
    text-align: center;
    padding: 30px;
    gap: 20px;
    transition: all 0.8s;
}

#main-output.positive {
    background-color: rgb(11, 145, 71);
}

#main-output.neutral {
    background-color: rgb(82, 82, 82);
}

#main-output.negative {
    background-color: rgb(139, 51, 51);
}


#main-output h2, 
#main-output h3, 
#main-output h4, 
#main-output h5, 
#main-output p {
    margin: 0px;
}

#coefficient-output {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

/* Table Output Section */
#stats-block {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 2s ease-in-out;
    font-family: 'Roboto', sans-serif;
}

#stats-output {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    background-color: rgb(255, 255, 255);
    color: rgb(23, 72, 112);
    padding: 30px;
}

#games-table,
#extra-stats table {
    position: relative;
    max-width: 100%;
    border-collapse: collapse;
    border-radius: 4px;
}

.games-table-container {
    overflow: auto;
}

#games-table-overflow {
    overflow: auto;
    max-height: 1740px;
}

#games-table th {
    position: sticky;
    top: 0px;
}

tr:nth-child(odd) {
    background-color: rgb(224, 224, 224);
}

tr:nth-child(even) {
    background-color: rgb(240, 240, 240);
}

th, td {
    padding: 6px 9px 6px 9px;
}

th {
    background-color: rgb(117, 152, 185);
    color: white;
}

td.table-num {
    text-align: right;
}

tr:hover{
    background-color: rgb(190, 190, 190);
}

.games-table-container {
    padding: 20px;
}

#extra-stats {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    padding: 20px;
    gap: 20px;
}

.sub-table-container {
    display: flex;
    flex-direction: column;
}

.sub-table-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

/* Custom Radio Select */
.custom-radio {
    position: relative;
    width: 110px;
    height: 1.5em;
    padding: 3px 0px 3px 0px;
    cursor: pointer;
}

.custom-radio label {
    position: absolute;
    color: rgb(16, 16, 87);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: .2s;
}

.custom-radio input {
    -webkit-appearance: none;
    margin: 0px;
    border: 1px solid gray;
    width: 100%;
    height: 100%;
    border-radius: 1000px;
    background-color: rgb(241, 241, 241);
    box-sizing: border-box;
    cursor: pointer;
    transition: .2s;
}

.custom-radio input:hover {
    background-color: rgb(199, 199, 199);
}

.custom-radio input:checked {
    background-color: rgb(197, 122, 122);
}

.custom-radio input:checked + label {
    color: white;
}

/* App Info Section */
.app-info-subsection {
    padding: 30px;
    max-width: 500px;
    box-sizing: border-box;
}

.app-info-subsection p, 
.app-info-subsection ol {
    font-family: 'Roboto', sans-serif;
}

.app-info-subsection li {
    margin: 30px 0px 30px 0px;
}

.app-info-flex-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    color: black;
}

#info-bgg-geek-notice {
    position: relative;
    padding: 1px 10px 1px 10px;
    background-color: rgb(192, 213, 226);
    color: black;
    height: auto;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    font-size: 1.5em;
}

#how-to-use .colored-text {
    color: red;
}

/* Footer */
footer {
    width: 100%;
}

#disclaimer {
    color: rgb(0, 0, 0);
    width: 100%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    font-size: 0.8em;
}

#footer-content {
    background-color: rgb(5, 9, 20);
    height: 50px;
    padding: 5px 15px 5px 15px;
}

/* Animations */

@keyframes slide-down {
    from {
        top: -2000px;
    } 
    to {
        top: 0px;
    }
}

@keyframes slide-up {
    from {
        top: 0px;
    } 
    to {
        top: -2000px;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes loading-spin {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

/* General Classes */

.hidden{
    display: none !important;
}